
  <!-- Graph -->
  <div class="row d-flex justify-content-around align-items-stretch mb-auto p-2">
    <div class="col-lg-12" >
      <div class="card">
        <div class="card-title" style="background-color: #e8e4e1; padding-bottom: 5px;">
          <b style="color: #7a7877;padding-left: 3%; font-size: 15px; ">ข้อมูลอารมณ์พนักงาน 7 วันล่าสุด </b>
       </div>
        <div class="card-body" >
          <app-allemobar></app-allemobar>
        </div>
      </div>
    </div>
    
  </div>

  <!-- Pie -->
  <div class="row d-flex justify-content-around align-items-stretch mb-auto p-1">

    <div class="col-lg-6">
      <div class="card">
        <div class="card-title" style="background-color: #e8e4e1; padding-bottom: 5px;">
          <b style="color: #7a7877;padding-left: 3%; font-size: 15px; ">ข้อมูลอารมณ์พนักงานเชิงรายละเอียด 7 วันล่าสุด</b>
       </div>
        <div class="card-body"> 
           <app-allcountemotion></app-allcountemotion>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="card">
        <div class="card-title" style="background-color: #e8e4e1; padding-bottom: 5px;">
          <b style="color: #7a7877;padding-left: 3%; font-size: 15px; ">ข้อมูลเข้างานโดยเฉลี่ย (%) 7 วันล่าสุด</b>
       </div>
        <div class="card-body">
          <app-allpiechart></app-allpiechart>
        </div>
      </div>
    </div>
  </div>