<div class="row d-flex justify-content-around align-items-stretch mb-auto p-3">
    <div class="column">
      <div class="card" style="width:    10rem;">
        <div class="card-body">
          <h5 class="card-title">
            <div class="row d-flex justify-content-around align-items-stretch mb-auto p-1">
              <div class="column">
                 <img src="../../assets/netural.png" style="width:40px; height:40px" >
                 <div class="emotxt"><span>smile</span></div>
              </div>
              <div class="column">
                 <h3> {{ nuteral }}</h3>
                
              </div>
            </div>
          </h5>
           
        </div>
      </div>
      
     
    </div>
    <div class="column">
      <div class="card" style="width:    10rem;">
        <div class="card-body">
          <h5 class="card-title">
            <div class="row d-flex justify-content-around align-items-stretch mb-auto p-1">
              <div class="column">
                 <img src="../../assets/hapiness.png" style="width:40px; height:40px" >
                 <div class="emotxt"><span>happy</span></div>
              </div>
              <div class="column">
                 <h3>{{ happy }}</h3>
              </div>
            </div>
          </h5>
           
        </div>
      </div>
      
    </div>
    <div class="column">
      <div class="card" style="width:    10rem;">
        <div class="card-body">
          <h5 class="card-title">
            <div class="row d-flex justify-content-around align-items-stretch mb-auto p-1">
              <div class="column">
                 <img src="../../assets/surprise.png" style="width:40px; height:40px" >
                 <div class="emotxt"><span>surprise</span></div>
              </div>
              <div class="column">
                 <h3>{{ surprise }}</h3>
                 
              </div>
            </div>
          </h5>
           
        </div>
      </div>
      
    </div>
    <div class="column" style="padding-bottom: 30px;">
      <div class="card" style="width:    10rem;">
        <div class="card-body">
          <h5 class="card-title">
            <div class="row d-flex justify-content-around align-items-stretch mb-auto p-1">
              <div class="column">
                 <img src="../../assets/sadness.png" style="width:40px; height:40px" >
                 <div class="emotxt"><span>sadness</span></div>
              </div>
              <div class="column">
                 <h3>{{ sadness }}</h3>
                 
              </div>
            </div>
          </h5>
           
        </div>
      </div>
      
    </div>
</div>

<div class="row d-flex justify-content-around align-items-stretch mb-auto p-3">
  <div class="column">
    <div class="card" style="width:    10rem;">
      <div class="card-body">
        <h5 class="card-title">
          <div class="row d-flex justify-content-around align-items-stretch mb-auto p-1">
            <div class="column">
               <img src="../../assets/fear.png" style="width:40px; height:40px" >
               <div class="emotxt"><span>fear</span></div>
            </div>
            <div class="column">
               <h3>{{ fear }}</h3>
                
            </div>
          </div>
        </h5>
         
      </div>
    </div>
    
   
  </div>
  <div class="column">
    <div class="card" style="width:    10rem;">
      <div class="card-body">
        <h5 class="card-title">
          <div class="row d-flex justify-content-around align-items-stretch mb-auto p-1">
            <div class="column">
               <img src="../../assets/anger.png" style="width:40px; height:40px" >
               <div class="emotxt"><span>angry</span></div>
            </div>
            <div class="column">
               <h3>{{ angry }}</h3>
              
            </div>
          </div>
        </h5>
         
      </div>
    </div>
    
  </div>
  <div class="column">
    <div class="card" style="width:    10rem;">
      <div class="card-body">
        <h5 class="card-title">
          <div class="row d-flex justify-content-around align-items-stretch mb-auto p-1">
            <div class="column">
               <img src="../../assets/disgust.png" style="width:40px; height:40px" >
               <div class="emotxt"><span>disgust</span></div>
            </div>
            <div class="column">
               <h3>{{ disgust }}</h3>
            </div>
          </div>
        </h5>
         
      </div>
    </div>
    
  </div>
  <div class="column">
    <div class="card" style="width:    10rem;">
      <div class="card-body">
        <h5 class="card-title">
          <div class="row d-flex justify-content-around align-items-stretch mb-auto p-1">
            <div class="column">
               <img src="../../assets/contempt.png" style="width:40px; height:40px" >
               <div class="emotxt"><span>contempt</span></div>
            </div>
            <div class="column">
               <h3>{{ contempt }}</h3>
            </div>
          </div>
        </h5>
         
      </div>
    </div>
    
  </div>
</div>
