<div class="container-fluid" style="display: block">
  <canvas baseChart
          height="17vh" width="40vw" 
          [data]="pieChartData"
          [labels]="pieChartLabels"
          [chartType]="pieChartType"
          [colors]="pieChartColors"></canvas>
    
</div>
