<div class="container"><br/>

  <!-- <form class="form-inline">
    <div class="form-group hidden">
      <div class="input-group">
        <input name="datepicker"
               class="form-control"
               ngbDatepicker
               #datepicker="ngbDatepicker"
               [autoClose]="'outside'"
               (dateSelect)="onDateSelection($event)"
               [displayMonths]="2"
               [dayTemplate]="t"
               outsideDays="hidden"
               [startDate]="fromDate">
        <ng-template #t let-date let-focused="focused">
          <span class="custom-day"
                [class.focused]="focused"
                [class.range]="isRange(date)"
                [class.faded]="isHovered(date) || isInside(date)"
                (mouseenter)="hoveredDate = date"
                (mouseleave)="hoveredDate = null">
            {{ date.day }}
          </span>
        </ng-template>
      </div>
    </div>
    <div class="form-group">
      <div class="input-group">
        <input #dpFromDate
               class="form-control" placeholder="yyyy-mm-dd"
               name="dpFromDate"
               [value]="formatter.format(fromDate)"
               (input)="fromDate = validateInput(fromDate, dpFromDate.value)">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary calendar" (click)="datepicker.toggle()" type="button"></button>
        </div>
      </div>
    </div>
    <div class="form-group ml-2">
      <div class="input-group">
        <input #dpToDate
               class="form-control" placeholder="yyyy-mm-dd"
               name="dpToDate"
               [value]="formatter.format(toDate)"
               (input)="toDate = validateInput(toDate, dpToDate.value)">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary calendar" (click)="datepicker.toggle()" type="button"></button>
        </div>
      </div>
    </div>
    <div class="form-group ml-2">
      <div class="input-group">
         <button class="btn btn-outline btn-primary" (click)="alert()"> Submit </button>
      </div>
    </div>
  </form>
  
  <hr/> -->

  <form class="form-inline">
    <div class="form-group">
      <div class="input-group">
        <input class="form-control" placeholder="dd/mm/yyyy"
               name="d2" #c2="ngModel" [(ngModel)]="model2" ngbDatepicker #d2="ngbDatepicker">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary calendar" (click)="d2.toggle()" type="button"></button>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="input-group">
         <button class="btn btn-outline-primary" (click)="alert()">Submit</button>
      </div>
    </div>

  </form>



  
  <div class="form-group">
    <strong>Name</strong>
    <input class="form-control" [(ngModel)]="searchText">
  </div>  

  <br/><br/>

  
  <table class="table table-bordered">
    <thead>
      <th>ID</th>
      <th>Name</th>
      <th>Time In</th>
      <th>Emotion In</th>
      <th>Time Out</th>
      <th>Emotion Out</th>
    </thead>

    <tbody>
      <tr *ngFor="let user of data | tableFilter:searchText:'name' | paginate: { itemsPerPage: 10, currentPage: p }; ">
        <td> {{ user.id }}</td>
        <td>{{ user.name }}</td>
        <td>{{ user.time_in }}</td>
        <td>{{ user.emo_in }}</td>
        <td>{{ user.time_out }}</td>
        <td>{{ user.emo_out }}</td>
      </tr>
     
    </tbody>
    
  </table>
  <pagination-controls (pageChange)="p = $event"></pagination-controls>

</div>