a{
    text-decoration: none; 
    color: #ffe7d4;
    
} 

a.active{
    color: #ffffff;
    font-weight: bold;
    text-shadow: 0.5px 0.5px #a3978e;
    -webkit-text-stroke-width: 0.3px; 
    -webkit-text-stroke-color: #fc8217; 

}

a.normal{
    color: #ffb06b;
    font-weight: bold;
    text-shadow: 0.5px 0.5px #917f71;

}


a:hover {
    color: #ffffff;
    font-weight: bold;
    text-shadow: 0.5px 0.5px #a3978e;
    -webkit-text-stroke-width: 0.3px; 
    -webkit-text-stroke-color: #fc8217; 

}

a:focus {
    color: #ffffff;
    font-weight: bold;
    text-shadow: 0.5px 0.5px #a3978e;
    -webkit-text-stroke-width: 0.3px; 
    -webkit-text-stroke-color: #fc8217; 
}


a{
    color: #ffb06b;
    font-weight: bold;
    text-shadow: 0.5px 0.5px #917f71;

    
}
