<nav class="navbar navbar-expand-lg" style="background-color: #EE8522 ;color:aliceblue;text-decoration: none;">
  <a class="navbar-brand" routerLink="#"><img src="../assets/mea.png" width="50px"/></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" >
        <a class="nav-link active" id="startc" onclick="($('#startc li:first-child c.nav-link').attr('class', 'nav-link'))" routerLink="/">รายงานผลประจำวัน<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" onclick="document.getElementById('startc').classList.remove('active')" routerLink="/overall">รายงานผลทั้งหมด<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" onclick="document.getElementById('startc').classList.remove('active')" routerLink="/table">ข้อมูลพนักงาน</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" onclick="document.getElementById('startc').classList.remove('active')" routerLink="/table">จัดการข้อมูลพนักงาน</a>
      </li>
      </ul>
    <!--<form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>-->
  </div>
</nav>

  <router-outlet></router-outlet>