
  <!-- Graph -->
  <div class="row d-flex justify-content-around align-items-stretch mb-auto p-2">
    <div class="col-lg-6">
      <div class="card">
        <div class="card-title" style="background-color: #e8e4e1; padding-bottom: 5px;">
           <b style="color: #7a7877;padding-left: 3%; font-size: 15px; ">จำนวนคนเข้า-ออกงาน</b>
        </div>
        <div class="card-body">
          <app-barchart></app-barchart>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="card">
        <div class="card-title" style="background-color: #e8e4e1; padding-bottom: 5px;">
          <b style="color: #7a7877;padding-left: 3%; font-size: 15px; ">จำนวนคนเข้างาน ประจำวัน</b>
       </div>
        <div class="card-body">
          <app-piechart></app-piechart>
        </div>
      </div>
    </div>
  </div>

  <!-- Pie -->
  <div class="row d-flex justify-content-around align-items-stretch mb-auto p-2">
    <div class="col-lg-6">
      <div class="card">
        <div class="card-title" style="background-color: #e8e4e1; padding-bottom: 5px;">
          <b style="color: #7a7877;padding-left: 3%; font-size: 15px; ">ข้อมูลอารมณ์พนักงาน ประจำวัน</b>
       </div>
        <div class="card-body">
          <app-averagegraph></app-averagegraph>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="card" style="padding-bottom: 20px;">
        <div class="card-title" style="background-color: #e8e4e1; padding-bottom: 5px;">
          <b style="color: #7a7877;padding-left: 3%; font-size: 15px; ">ข้อมูลอารมณ์พนักงานเชิงรายละเอียด</b>
       </div>
        <div class="card-body">
           <app-countemotion></app-countemotion>
        </div>
      </div>
    </div>
  </div>